<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>A00086003@myTUDublin.ie</AccountUsername>
    <AzureServiceName>bmi202620260925161550</AzureServiceName>
    <AzureServiceResourceGroup>DefaultResourceGroup-NEU</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/1525ad30-42ea-424c-96fb-224f5bf78363/resourceGroups/DefaultResourceGroup-NEU/providers/Microsoft.Web/sites/bmi202620260925161550</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>1525ad30-42ea-424c-96fb-224f5bf78363</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure for Students</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/1525ad30-42ea-424c-96fb-224f5bf78363/resourceGroups/DefaultResourceGroup-NEU/providers/Microsoft.Web/sites/bmi202620260925161550 (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectGuid>9505dda3-c359-4db0-82e3-5762134515fb</ProjectGuid>
    <ProjectOutputPath>published</ProjectOutputPath>
    <ProjectPath>bmi2021</ProjectPath>
    <PublishProvider>AzureWebSite</PublishProvider>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>766317cb-e948-4e5f-8cec-dabc8e2fd5da</TenantId>
  </PropertyGroup>
</Project>